node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.idea/
*.iml
android/.idea/
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/res/xml/config.xml
android/local.properties
android/app/release/
.env*
!.env.example
